.wrapper {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: space-between;

  overflow: hidden;
}

.message-window {
  width: calc(100% - 32px);
  height: 100%;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title-container {
  min-width: 50px;
  position: relative;
}

.title {
  position: absolute;
  white-space: nowrap;
  margin-top: 20px;

  transform-origin: top left;
  font-size: 32px;
  font-weight: 700;
  -webkit-text-stroke: 1px;
  -webkit-text-fill-color: transparent;
}

.participants-list-btn {
  position: absolute;
  left: 10px;
  bottom: 20px;
  cursor: pointer;
  background-color: transparent;
  transition: transform 0.5s;
}

.participants-list-btn:hover {
  transform: scale(1.2);
}
