:root {
  --primary-color: #ee7752;
  --secondary-color: #7a00fc;
  --third-color: #e73c7e;
  --fourth-color: #23a6d5;
  --fifth-color: #fff;
  --sixth-color: #23d5ab;
  --seventh-color: #ccff00;
  --error-color: #d77fa1;
}

* {
  box-sizing: border-box;
}

body {
  height: 100dvh;
  margin: 0;
  padding: 0;

  color: var(--fifth-color);
  font-size: 1rem;
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  background: linear-gradient(
    171deg,
    rgba(16, 30, 49, 1) 41%,
    rgba(116, 40, 89, 1) 69%,
    rgba(234, 51, 136, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;

  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

button {
  height: 30px;
  border-radius: 15px;
  margin: 0;
  border: 0;
  background: transparent;
  background-color: var(--secondary-color);
  font-family: inherit;
  font-weight: 700;
  color: white;
}

button:hover {
  cursor: pointer;
}

label {
  font-size: 0.8rem;
}

input {
  height: 30px;
  padding: 0 10px;
  border-radius: 15px;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: 0;
  background-color: rgba(255, 255, 255, 0.5);
  color: inherit;
}

input:focus,
button:focus,
select:focus,
textarea:focus {
  outline: none;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.gradient-bg {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
  background: transparent;
}
