.notification-box {
  width: 300px;
  height: 150px;
  position: fixed;
  left: 30px;
  bottom: 30px;

  background-color: black;
  border-radius: 20px;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;

  cursor: pointer;
}

.heading,
.content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading {
  width: 100%;
  height: 50px;

  overflow: hidden;
  white-space: nowrap;
}

.heading-text {
  margin: 0;

  color: var(--third-color);
  font-weight: 700;
  font-size: 1.5rem;
  border-top: 3px solid var(--third-color);
  border-bottom: 3px solid var(--third-color);
}

.content {
  height: 100px;
}

.title {
  padding: 5px;

  flex: 1;
  justify-content: center;
  align-items: center;

  color: var(--third-color);
  font-weight: 700;
  text-align: center;

  word-break: break-word;
}

.message {
  height: 70px;
  padding: 0 10px;

  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;

  border-left: 1px solid var(--third-color);

  overflow: hidden;
}

.message div {
  width: 50px;
  height: 50px;
  position: relative;
  border-radius: 10px;
}

.message-img {
  object-fit: cover;
}

.name {
  font-weight: 700;
  color: var(--primary-color);
  font-size: 0.8rem;
}
