.wrapper {
  width: 100%;
  max-width: 1200px;
  height: 100dvh;
  margin: auto;

  display: flex;
}

.conversation {
  width: 300px;
  height: 100%;
  animation: fadeIn 1s forwards normal ease;
}

.message {
  width: calc(100% - 300px);
  height: 100%;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: calc(100dvh - 50px);
  }

  .conversation {
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
  }

  .message {
    width: 100%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
