.wrapper {
  width: 700px;
  height: 70dvh;
  min-height: 500px;
  display: flex;
  overflow-y: auto;

  border-radius: 1rem;
}

.intro {
  padding: 20px;
  flex: 3;
}

.intro h1 {
  margin-bottom: 1rem;
}

.message-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message {
  width: 80%;
  height: auto;
  margin-top: 10px;
  padding: 10px;

  display: flex;

  border-radius: 20px;
}

.message1 {
  align-self: self-end;
  background-color: var(--primary-color);
}

.message2 {
  align-self: self-start;
  background-color: var(--secondary-color);
}

.message3 {
  align-self: self-start;
  background-color: var(--fourth-color);
}

.expired {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  opacity: 0.3;
}

.form {
  height: 100%;
  padding: 2rem;

  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  background-color: var(--third-color);
}

.input-group {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.2rem;
}

.input-group input {
  width: 100%;
}

.form button {
  width: 100%;
}

.form button:disabled {
  opacity: 0.5;
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: 500px;
    height: auto;
    max-height: 90dvh;
    flex-direction: column;
    align-items: center;
    row-gap: 1rem;
  }

  .intro,
  .form {
    width: 100%;
  }

  .form {
    padding: 2rem 100px;
  }
}

@media only screen and (max-width: 576px) {
  .wrapper {
    width: 350px;
  }

  .form {
    padding: 2rem;
  }
}
